@import "tailwindcss";

@layer components {
  .prose h1 {
    font-size: 2.25em;
    font-weight: 800;
  }

  .prose h2 {
    font-size: 1.875em;
    font-weight: 700;
  }

  .prose h3 {
    font-size: 1.5em;
    font-weight: 600;
  }
}
